<ion-view title="Community Organizations">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
		<body>
			<div id="header"> 

		        	<div id="stars"> <!-- #UPGRADE ... Need to change the header image looks ugly-->
		                	<h4> 25th Ward </h4>
		                    <img src="chicagostar.png" height = 10 /> 
		                    <img src="chicagostar.png" height = 10 /> 
		                    <img src="chicagostar.png" height = 10 />
		                    <img src="chicagostar.png" height = 10 /> 
		                    <h5> Alderman Danny Solis </h5>
		       	 	</div>

		    </div>
		    
		    <div id="navbar">
		    	<ul>
		        	<li> Home </li>
		            <li> Contact </li>
		            <li> Search </li>
		        </ul>
		    </div>
		    
		    <div id="vol">
		    	<ul>
		    		<li><img src="chicagostar.png" height = 15 /> </li>
		    		<li><img src="chicagostar.png" height = 15 /> </li>
		    		<li><h3>Community Organizations</h3></li>
		    		<li><img src="chicagostar.png" height = 15 /> </li>
		    		<li><img src="chicagostar.png" height = 15 /> </li>
				</ul>    
		    </div>
		    
		  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211277287926040226661.0004ff6adf7c3c8e6d43a&amp;ie=UTF8&amp;t=h&amp;ll=41.86368,-87.651672&amp;spn=0.115058,0.171661&amp;z=12&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=211277287926040226661.0004ff6adf7c3c8e6d43a&amp;ie=UTF8&amp;t=h&amp;ll=41.86368,-87.651672&amp;spn=0.115058,0.171661&amp;z=12&amp;source=embed" style="color:#0000FF;text-align:left">25th Ward Community Organizations </a> in a larger map</small>
		    
		    <div id="blocks"> 
		    	<ul id="lists">
		        	<li> <a href= "http://www.youtube.com">Animal Care and Control</a></li>
		            <li> <a href= "http://www.youtube.com">Blue 1647</a></li>
		            <li> <a href= "http://www.youtube.com">El Valor</a> </li>
		            <li> <a href= "http://www.youtube.com">Casa Puebla</a> </li> 
		            <li> <a href= "http://www.youtube.com">Gads Hill Center</a> </li>
		            <li> <a href= "http://www.youtube.com">Fiesta Del Sol</a></li>
		            <li> <a href= "http://www.youtube.com">Rauner Family YMCA</a> </li>
		            <li> <a href= "http://www.youtube.com">Latinos Progresando</a></li> 
		            <li> <a href= "http://www.youtube.com">Windy City Habitat for Humanity</a></li> 
		            <li> <a href= "http://www.youtube.com">Project: VISION</a></li>
		            <li> <a href= "http://www.youtube.com">Chicago Pubic Art Group</a> </li>
		            <li> <a href= "http://www.youtube.com">Anatomical Gift Association</a> </li>
		            <li> <a href= "http://www.youtube.com">Chinatown Square</a> </li>

		           
		        </ul>
		    
		    </div>    
		</body>
  </ion-content>
</ion-view>
