<ion-view title="Community Attractions">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <body>
		<header>
			<div id="title">
				<div id="left">
					<h1>25th Ward</h1>
				</div>
				<div id="right">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<p>Alderman Danny Solis</p>
				</div>
			</div>
			<hr>
			<nav>
				<div id="navbar">
					<ul>
						<li><a href = "index.html">Home <img src="red home.png" height= "25"></a></li>
						<li><a href = "contact.html">Contact <img src="red phone.png" height="25"></a></li>
						<li><input type="text" name="search" placeholder="Search"></li>
					</ul>
				</div>
			</nav>
			<div id="banner">
				<ul>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><h2>Community Attractions</h2></li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
				</ul>    
			</div>
		</header>
		<div id="wrapper">
			<section>
				<ul id="gallery">
					<li>
						<a href = "schools.html">
							<img src="school.png" height="150px" alt="map of schools">
							<p>Schools</p>
						</a>
					</li>
					<li>
						<a href = "parks.html">
							<img src="park.png" height="150px" alt="map of parks">
							<p>Parks</p>
						</a>
					</li>
					<li>
						<a href = "restaurants.html">
							<img src="restaurant.png" height="150px" alt="map of restaurants">
							<p>Restaurants</p>
						</a>
					</li>
					<li>
						<a href = "libraries.html">
							<img src="" alt="map of libraries">
							<p>Libraries</p>
						</a>
					</li>
					<li>
						<a href = "museums.html">
							<img src="" alt="map of museums">
							<p>Museums</p>
						</a>
					</li>
					<li>
						<a href = "maps.html">
							<img src="" alt="grand map">
							<p>Other Services</p>
						</a>
					</li>
					<li>
						<a href = "historical.html">
							<img src="" alt="map of historical landmarks">
							<p>Historical Landmarks</p>
						</a>
					</li>
					<li>
						<a href = "murals.html">
							<img src="" alt="map of murals">
							<p>Murals</p>
						</a>
					</li>
					<li>
						<a href = "polling.html">
							<img src="" alt="polling">
							<p>Polling</p>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</body>
  </ion-content>
</ion-view>
