<!DOCCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title> Historical Landmarks </title>
		<link rel="stylesheet" type="text/css" href="parks.css">
	</head>
	<body>
		<header>
			<div id="title">
				<div id="left">
					<h1>25th Ward</h1>
				</div>
				<div id="right">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<p>Alderman Danny Solis</p>
				</div>
			</div>
			<hr>
			<nav>
				<div id="navbar">
					<ul>
						<li><a href = "index.html">Home <img src="red home.png" height= "25"></a></li>
						<li><a href = "contact.html">Contact <img src="red phone.png" height="25"></a></li>
						<li><input type="text" name="search" placeholder="Search"></li>
					</ul>
				</div>
			</nav>
			<div id="banner">
				<ul>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><h2>Historical Landmarks</h2></li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
				</ul>    
			</div>
		</header>
		<section>
			
			<iframe width="80%" height="40%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=203138982536680784541.0004fef3214e45a60fe63&amp;ie=UTF8&amp;ll=41.86201,-87.652564&amp;spn=0.027919,0.037313&amp;t=m&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=203138982536680784541.0004fef3214e45a60fe63&amp;ie=UTF8&amp;ll=41.86201,-87.652564&amp;spn=0.027919,0.037313&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">Dvorak Park</a> in a larger map</small>
			<table>
				<tr>
					<td>Dvorak Park<td>
					<td>1824 S. Wood St. Chicago, IL 60608</td>
					<td>Phone: 312-746-5491</td>
				</tr>
				<tr>
					<td>Harrison Park<td>
					<td>1824 S. Wood St. Chicago, IL 60608</td>
					<td>Phone: 312-746-5491</td>
				</tr>
				<tr>
					<td>Chinese Community Center<td>
					<td>250 W 22nd Pl. Chicago, IL 60616</td>
					<td>Phone: 312-842-8010</td>
				</tr>
				<tr>
					<td>Sun Yet-sen Park<td>
					<td>251 W 24th Pl. Chicago, IL 60616</td>
					<td></td>
				</tr>
				<tr>
					<td>Ping Tom Memorial Park<td>
					<td>300 W 19th St. Chicago, IL 60689</td>
					<td></td>
				</tr>
				<tr>
					<td>D'Angelo Dog Park<td>
					<td>438 S Franklin St. Chicago, IL 60607</td>
					<td></td>
				</tr>
				<tr>
					<td>Oscar O. D'Angelo Park<td>
					<td>411 S Franklin St. Chicago, IL 60607</td>
					<td></td>
				</tr>
			</table>
		</section>

	</body>
</html>