<!DOCCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title> Libraries </title>
		<link rel="stylesheet" type="text/css" href="parks.css">
	</head>
	<body>
		<header>
			<div id="title">
				<div id="left">
					<h1>25th Ward</h1>
				</div>
				<div id="right">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<p>Alderman Danny Solis</p>
				</div>
			</div>
			<hr>
			<nav>
				<div id="navbar">
					<ul>
						<li><a href = "index.html">Home <img src="red home.png" height= "25"></a></li>
						<li><a href = "contact.html">Contact <img src="red phone.png" height="25"></a></li>
						<li><input type="text" name="search" placeholder="Search"></li>
					</ul>
				</div>
			</nav>
			<div id="banner">
				<ul>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><h2>Libraries</h2></li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
				</ul>    
			</div>
		</header>
		<section>
			
			<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zkooDhFvPl8Q.keIcAUqzIoeM" width="640" height="480"></iframe>
			<!--<table>
				<tr>
					<td>Chinatown</td>
					<td>2353 S. Wentworth Avenue Chicago, IL 60616</td>
					<td>Phone:(312) 747-8013 </td>
				</tr>
				<tr>
					<td>King</td>
					<td>3436 S. King Drive Chicago, IL 60616</td>
					<td>Phone: (312) 747-7543 </td>
				</tr>
				<tr>
					<td>Richard J. Daley</td>
					<td>3400 S. Halsted Street Chicago, IL 60608</td>
					<td>Phone: (312) 747-8990</td>
				</tr>
				<tr>
					<td>Lozano</td>
					<td>1805 S. Loomis Street Chicago, IL 60608</td>
					<td>Phone: (312) 746-4329</td>
				</tr>
			</table>-->
			<div id="blocks"> 

				<ul id="lists">
					<a href =""> <li> Lozano Library <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a>
					<a href= ""> <li> King Library <img class="arrow" src="arrowcircle.png" height=20 /> </li>  </a> 
					<a href= ""> <li> Chinatown Library <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Richard J. Daley Library <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
				</ul>
    
			</div> 
		</section>

	</body>
</html>