<!DOCCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title> Public Art </title>
		<link rel="stylesheet" type="text/css" href="parks.css">
	</head>
	<body>
		<header>
			<div id="title">
				<div id="left">
					<h1>25th Ward</h1>
				</div>
				<div id="right">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<p>Alderman Danny Solis</p>
				</div>
			</div>
			<hr>
			<nav>
				<div id="navbar">
					<ul>
						<li><a href = "index.html">Home <img src="red home.png" height= "25"></a></li>
						<li><a href = "contact.html">Contact <img src="red phone.png" height="25"></a></li>
						<li><input type="text" name="search" placeholder="Search"></li>
					</ul>
				</div>
			</nav>
			<div id="banner">
				<ul>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><h2>Murals</h2></li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
				</ul>    
			</div>
		</header>
		<section>
			
			<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zkooDhFvPl8Q.kMud2dw8hupc" width="640" height="480"></iframe>
			<!--I'm leaving the tables here in case people want to add addresses to the list.
			<table>
				<tr>
					<td>Unity by Yollocali Arts Reach – 2005</td>
					<td>1119 W Cullerton St Chicago, IL 60608</td>
				</tr>
				<tr>
					<td>Wall of Hope by Yollocali Arts Reach – 2012</td>
					<td>1856 S Loomis Chicago, IL 60608</td>
				</tr>
				<tr>
					<td>The Declaration of Immigration by Salvador Jimenez – 2009</td>
					<td>1401 W 18th St Chicago, IL 60608</td>
				</tr>
				<tr>
					<td>Caras by Aurelio Diaz – 1976</td>
					<td>1560 S Blue Island Chicago, IL 60608</td>
				</tr>
				<tr>
					<td>Reforma y Libertad by Ray Patlán – 1971</td>
					<td>2100 S Laflin St Chicago, IL 60608</td>
				</tr>
				<tr>
					<td>Untitled by Elevarte Studio – 1997</td>
					<td>1400 S Blue Island Chicago, IL 60608</td>
				</tr>
				<tr>
					<td>Incredíbles Las Cosas Q’ Se Ven by Jeff Zimmerman – 2001</td>
					<td>1595 W 19th St Chicago, IL 60608</td>
				</tr>
				<tr>
					<td>Sírvales by Jeff Zimmerman – 2005</td>
					<td>1979 S Ashland Ave Chicago, IL 60608</td>
				</tr>
				<tr>
					<td>Reach for Peace by Yollocali Arts Reach – 2011</td>
					<td>1544 W 18th St Chicago, IL 60608</td>
				</tr>
				<tr>
					<td>Greenfield Page Community Park by Lynn Takata – 1983</td>
					<td>1073 W Maxwell St Chicago, IL 60608</td>
				</tr>
			</table>-->
			<div id="blocks"> 

				<ul id="lists">
					<a href =""> <li> Unity by Yollocali Arts Reach – 2005 <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a>
					<a href= ""> <li> Wall of Hope by Yollocali Arts Reach – 2012 <img class="arrow" src="arrowcircle.png" height=20 /> </li>  </a> 
					<a href= ""> <li> The Declaration of Immigration by Salvador Jimenez – 2009 <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Caras by Aurelio Diaz – 1976 <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href =""> <li> Reforma y Libertad by Ray Patlán – 1971 <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a>
					<a href= ""> <li>Untitled by Elevarte Studio – 1997 <img class="arrow" src="arrowcircle.png" height=20 /> </li>  </a> 
					<a href= ""> <li> Incredíbles Las Cosas Q’ Se Ven by Jeff Zimmerman – 2001 <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Sírvales by Jeff Zimmerman – 2005 <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Reach for Peace by Yollocali Arts Reach – 2011<img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Greenfield Page Community Park by Lynn Takata – 1983 <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
				</ul>
    
			</div> 
		</section>

	</body>
</html>