<!DOCCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title> Arts and Culture </title>
		<link rel="stylesheet" type="text/css" href="parks.css">
	</head>
	<body>
		<header>
			<div id="title">
				<div id="left">
					<h1>25th Ward</h1>
				</div>
				<div id="right">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<p>Alderman Danny Solis</p>
				</div>
			</div>
			<hr>
			<nav>
				<div id="navbar">
					<ul>
						<li><a href = "index.html">Home <img src="red home.png" height= "25"></a></li>
						<li><a href = "contact.html">Contact <img src="red phone.png" height="25"></a></li>
						<li><input type="text" name="search" placeholder="Search"></li>
					</ul>
				</div>
			</nav>
			<div id="banner">
				<ul>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><h2>Arts and Culture</h2></li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
				</ul>    
			</div>
		</header>
		<section>
			<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zkooDhFvPl8Q.kxiK_SB929wc" width="640" height="480"></iframe>
			<!--I left the table in case people want to add more data to the lists.
			<table>
				<tr>
					<td>Pros Art Studio</td>
					<td>1119 W Cullerton Chicago, IL 60608</td>
					<td>Phone: 312-226-7012</td>
				</tr>
				<tr>
					<td>Mariachi Mexico Vivo</td>
					<td>2014 S Racine Ave Chicago, IL 60608</td>
					<td>Phone: 312-510-6013</td>
				</tr>
				<tr>
					<td>Studio One Chicago</td>
					<td>1010 W 18th St Chicago, IL 60608</td>
					<td>Phone: 312-226-4220</td>
				</tr>
				<tr>
					<td>Al Teatro Ristorante</td>
					<td>1227 W 18th St Chicago, IL 60608</td>
					<td>Phone: 312-784-9100</td>
				</tr>
				<tr>
					<td>Adam DeVarney</td>
					<td>1932 S. Halsted St #407 Chicago, IL 60608</td>
					<td>Phone: 312-632-036</td>
				</tr>
				<tr>
					<td>Alex Fedriko Studio</td>
					<td>1932 S Halsted St # 206 Chicago, IL 60608</td>
					<td></td>
				</tr>
				<tr>
					<td>Angela Komperda Studio</td>
					<td>1932 S Halsted St #208 Chicago, IL 60608</td>
					<td></td>
				</tr>
				<tr>
					<td>Brainforest</td>
					<td>1932 S. Halsted St #406 Chicago, IL 60608</td>
					<td>Phone: 773-395-2500</td>
				</tr>
				<tr>
					<td>Brian Mancl</td>
					<td>1932 S. Halsted St #502 Chicago, IL 60608</td>
					<td>Phone: 312-208-4555</td>
				</tr>
				<tr>
					<td>Bryan Sperry Studio</td>
					<td>1932 S Halsted St #503 Chicago, IL 60608</td>
					<td>Phone: 312-850-1017</td>
				</tr>
			</table>-->
			<div id="blocks"> 

				<ul id="lists">
					<a href =""> <li> Pros Art Studio <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a>
					<a href= ""> <li> Mariachi Mexico Vivo <img class="arrow" src="arrowcircle.png" height=20 /> </li>  </a> 
					<a href= ""> <li> Studio One Chicago <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Al Teatro Ristorante <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href =""> <li> Adam DeVarney <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a>
					<a href= ""> <li>Alex Fedriko Studio <img class="arrow" src="arrowcircle.png" height=20 /> </li>  </a> 
					<a href= ""> <li> Angela Komperda Studio <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Brainforest <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li>Brian Mancl<img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Bryan Sperry Studio <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
				</ul>
    
			</div>
		</section>

	</body>
</html>