<!DOCCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title> Restaurants </title>
		<link rel="stylesheet" type="text/css" href="parks.css">
	</head>
	<body>
		<header>
			<div id="title">
				<div id="left">
					<h1>25th Ward</h1>
				</div>
				<div id="right">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<p>Alderman Danny Solis</p>
				</div>
			</div>
			<hr>
			<nav>
				<div id="navbar">
					<ul>
						<li><a href = "index.html">Home <img src="red home.png" height= "25"></a></li>
						<li><a href = "contact.html">Contact <img src="red phone.png" height="25"></a></li>
						<li><input type="text" name="search" placeholder="Search"></li>
					</ul>
				</div>
			</nav>
			<div id="banner">
				<ul>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><h2>Restaurants</h2></li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
				</ul>    
			</div>
		</header>
		<section>
			<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zkooDhFvPl8Q.kcPtcYt0W1WU" width="640" height="480"></iframe>
			<!--I left the table in in case people want to add more data to lists.
			<table>
				<tr>
					<td>Casa Aztlan</td>
					<td>1831 S Racine Ave Chicago, IL 60608</td>
					<td>Phone: 312-666-5508</td>
				</tr>
				<tr>
					<td>Taqueria Iguala </td>
					<td>1131 West 18th St Chicago, IL 60608</td>
					<td>Phone: 312-226-0566</td>
				</tr>
				<tr>
					<td>Perez Restaurant</td>
					<td>1163 W 18th St Chicago, IL 60608</td>
					<td>Phone: 312-421-3631</td>
				</tr>
				<tr>
					<td>Ciao Amore Ristorante</td>
					<td>1134 W 18th St Chicago, IL 60608</td>
					<td>Phone: 312-432-9090</td>
				</tr>
				<tr>
					<td>Amador Liquors</td>
					<td>1167 W 18th St Chicago, IL 60608</td>
					<td>Phone: 312-226-3192</td>
				</tr>
				<tr>
					<td>Cuernavaca Restaurant</td>
					<td>1158 W 18th St Chicago, IL 60608</td>
					<td>Phone: 312-829-1147</td>
				</tr>
				<tr>
					<td>Casa Castaneda</td>
					<td>1152 W 18th Street Chicago, IL 60608</td>
					<td>Phone: 312-421-2420</td>
				</tr>
				<tr>
					<td>Steak ‘n’ Egger</td>
					<td>1174 W Cermak Rd Chicago, IL 60608</td>
					<td>Phone: 312-226-5444</td>
				</tr>
				<tr>
					<td>Honky Tonk BBQ</td>
					<td>1800 S. Racine Ave. Chicago, IL 60608</td>
					<td>Phone: 312-226-7427</td>
				</tr>
				<tr>
					<td>Simone’s Bar</td>
					<td>960 W. 18th St. Chicago, IL 60608</td>
					<td>Phone: 312-666-8601</td>
				</tr>
			</table>-->
			<div id="blocks"> 

				<ul id="lists">
					<a href =""> <li> Casa Aztlan <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a>
					<a href= ""> <li> Taqueria Iguala <img class="arrow" src="arrowcircle.png" height=20 /> </li>  </a> 
					<a href= ""> <li> Perez Restaurant <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li>Ciao Amore Ristorante <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href =""> <li> Amador Liquors <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a>
					<a href= ""> <li>Cuernavaca Restaurant <img class="arrow" src="arrowcircle.png" height=20 /> </li>  </a> 
					<a href= ""> <li> Casa Castaneda <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Steak ‘n’ Egger <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li>Honky Tonk BBQ<img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> Simone’s Bar<img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
				</ul>
    
			</div>
		</section>

	</body>
</html>