<!DOCCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title> Schools </title>
		<link rel="stylesheet" type="text/css" href="parks.css">
	</head>
	<body>
		<header>
			<div id="title">
				<div id="left">
					<h1>25th Ward</h1>
				</div>
				<div id="right">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<img src="chicago-star-full.png" height="30%">
					<p>Alderman Danny Solis</p>
				</div>
			</div>
			<hr>
			<nav>
				<div id="navbar">
					<ul>
						<li><a href = "index.html">Home <img src="red home.png" height= "25"></a></li>
						<li><a href = "contact.html">Contact <img src="red phone.png" height="25"></a></li>
						<li><input type="text" name="search" placeholder="Search"></li>
					</ul>
				</div>
			</nav>
			<div id="banner">
				<ul>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><h2>Schools</h2></li>
					<li><img src="chicagostar.png" height = 25 /> </li>
					<li><img src="chicagostar.png" height = 25 /> </li>
				</ul>    
			</div>
		</header>
		<section>
			
			<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zkooDhFvPl8Q.kzg5At-1_NMY" width="640" height="480"></iframe>
			<!--I left the table in so people can add the data to the list if they want.
			<table>
				<tr>
					<td>Juarez Driving School<td>
					<td>1151 W 18th St Chicago, IL 60608</td>
					<td>Phone: 312-243-1841</td>
				</tr>
				<tr>
					<td>St Procopius School<td>
					<td>1625 S Allport Street Chicago, IL 60608</td>
					<td>Phone: 312-421-5135</td>
				</tr>
				<tr>
					<td>El Hogar Del Nino<td>
					<td>1718 S Loomis St Chicago, IL 60608</td>
					<td>Phone: 312-666-8935</td>
				</tr>
				<tr>
					<td>Juarez Community Academy High School<td>
					<td>1450-1510 W. Cermak Rd. Chicago, IL 60608</td>
					<td>Phone: 773-534-7030</td>
				</tr>
				<tr>
					<td>St Pius V School <td>
					<td>1919 S Ashland Ave Chicago, IL 60608</td>
					<td>Phone: 312-226-1590</td>
				</tr>
				<tr>
					<td>Cristo Rey Jesuit High School<td>
					<td>1852 W 22nd Place Chicago, IL 60608</td>
					<td>Phone: 773-890-6800</td>
				</tr>
				<tr>
					<td>Orozco Elementary Fine Arts & Sciences<td>
					<td>940 W 18th St Chicago, IL 60608</td>
					<td>Phone: 773-534-7215</td>
				</tr>
				<tr>
					<td>John C. Haines Elementary School<td>
					<td>247 W. 23rd Pl. Chicago, IL 60616</td>
					<td>Phone: 773-534-9200</td>
				</tr>
				<tr>
					<td>St Ann’s Grade School<td>
					<td>2211 W 18th Place Chicago, IL 60608</td>
					<td>Phone: 312-829-4153</td>
				</tr>
			</table>-->
			<div id="blocks"> 

				<ul id="lists">
					<a href =""> <li> Juarez Driving School <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a>
					<a href= ""> <li> St Procopius School <img class="arrow" src="arrowcircle.png" height=20 /> </li>  </a> 
					<a href= ""> <li> El Hogar Del Nino <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li>Juarez Community Academy High School <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href =""> <li> St Pius V School <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a>
					<a href= ""> <li>Cristo Rey Jesuit High School <img class="arrow" src="arrowcircle.png" height=20 /> </li>  </a> 
					<a href= ""> <li> Orozco Elementary Fine Arts & Sciences <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> John C. Haines Elementary School <img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
					<a href= ""> <li> St Ann’s Grade School<img class="arrow" src="arrowcircle.png" height=20 /> </li> </a> 
				</ul>
    
			</div>
		</section>

	</body>
</html>